<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-1 -->
<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-1" id="contact">
    <div class="c-prefooter">
        <div class="container">
            <a href="/">
                <img class="img-responsive c-margin-b-40" src="/assets/common/images/app-logo-on-dark.svg" alt="iconiz" style="max-width: 87px">
            </a>
            <div class="row">
                <div class="col-md-6">
                    <div class="c-logo">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold c-font-white">加入社群</h3>
                            <div class="c-line-left"></div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p class="c-contact text-left">加入Telegram群:
                            <a href="https://t.me/block_invest" class="c-font-white">@iconiz</a>
                            <br/>关注Twitter:
                            <a href="https://twitter.com/block_invest" class="c-font-white">@iconiz</a>
                            <br/>扫描微信二维码加入群组
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="/assets/base/img/iconizgzh.jpeg" alt="Wechat Group"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-font-bold c-font-white">商务合作</h3>
                        <div class="c-line-left"></div>
                    </div>
                    <img class="img-responsive col-md-6" src="/assets/base/img/标准资本.png" alt="Iconiz"/>
                    <img class="img-responsive col-md-6" src="/assets/base/img/浮点.png" alt="Float"/>
                </div>
            </div>
        </div>
    </div>
    <div class="c-postfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p class="c-copyright c-font-oswald c-font-14 text-left">
                        Copyright &copy; 2018 Iconiz.
                    </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul class="c-socials">
                        <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-social-youtube"></i></a></li>
                        <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
