<!-- BEGIN: HEADER -->
<header class="c-layout-header c-layout-header-default c-layout-header-default c-layout-header-dark-mobile c-header-transparent-dark" id="home" data-minimize-offset="80">
    <div class="c-topbar c-topbar-dark">
        <div class="container">
            <!-- BEGIN: INLINE NAV -->
            <nav class="c-top-menu c-pull-left">
                <ul class="c-icons c-theme-ul">
                    <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                    <li class="hide"><span>Phone: +99890345677</span></li>
                </ul>
            </nav>
            <!-- END: INLINE NAV -->
            <!-- BEGIN: INLINE NAV -->
            <nav class="c-top-menu c-pull-right">
                <ul class="c-links c-theme-ul">
                    <li><a href="#">Help</a></li>
                    <li class="c-divider">|</li>
                    <li><a href="#">Contact</a></li>
                    <li class="c-divider">|</li>
                    <li><a href="#">FAQ</a></li>
                </ul>
                <ul class="c-ext c-theme-ul">
                    <li *ngIf="languages.length" class="c-lang dropdown c-last">
                        <a href="javascript:;">
                            <i [class]="currentLanguage.icon"></i>{{currentLanguage.displayName}}<i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right" [attr.aria-label]="l('Languages')" role="menu">
                            <li *ngFor="let language of languages" role="none">
                                <a href="javascript:;" (click)="changeLanguage(language.name)">
                                    <i [class]="language.icon"></i> {{language.displayName}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- END: INLINE NAV -->
        </div>
    </div>
    <div class="c-navbar">
        <div class="container-fluid">
            <!-- BEGIN: BRAND -->
            <div class="c-navbar-wrapper clearfix">
                <div class="c-brand c-pull-left">
                    <a href="index.html" class="c-logo">
                        <img src="/assets/common/images/app-logo-on-dark.svg" alt="JANGO" class="c-desktop-logo" style="width: 87px">
                        <img src="/assets/common/images/app-logo-on-dark.svg" alt="JANGO" class="c-desktop-logo-inverse" style="width: 87px">
                        <img src="/assets/common/images/app-logo-on-dark.svg" alt="JANGO" class="c-mobile-logo" style="width: 87px">
                    </a>
                    <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                    </button>
                    <button class="c-search-toggler" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                    <button *ngIf="isUserLogedin()" class="c-cart-toggler" type="button">
                        <p style="margin:0"><img *ngIf="profilePicture" style="height: 20px; margin-right: 10px;" [src]="profilePicture"/>{{shownLoginName}}</p>
                    </button>
                </div>
                <!-- END: BRAND -->
                <!-- BEGIN: QUICK SEARCH -->
                <form class="c-quick-search" action="#">
                    <input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
                    <span class="c-theme-link">&times;</span>
                </form>
                <!-- END: QUICK SEARCH -->
                <!-- BEGIN: HOR NAV -->
                <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
                <!-- BEGIN: MEGA MENU -->
                <nav class="c-mega-menu c-mega-menu-onepage c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold" data-onepage-animation-speed="700">
                    <ul class="nav navbar-nav c-theme-nav">
                        <li class="c-onepage-link c-active active">
                            <a [routerLink]="['/']" class="c-link">主页</a>
                        </li>
                        <li class="c-onepage-link ">
                            <a [routerLink]="['/']" class="c-link">新闻</a>
                        </li>
                        <li class="c-onepage-link ">
                            <a [routerLink]="['/']" class="c-link">快讯</a>
                        </li>
                        <li class="c-onepage-link ">
                            <a [routerLink]="['/']" class="c-link">联系我们</a>
                        </li>
                        <li class="c-search-toggler-wrapper">
                            <a href="javascript:;" class="c-btn-icon c-search-toggler"><i class="fa fa-search"></i></a>
                        </li>
                        <li headerNotifications data-dropdown-persistent="true" id="header_notification_bar"></li>
                        <li *ngIf="!isUserLogedin()">
                            <a href="javascript:;" data-toggle="modal" data-target="#login-form" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold"><i class="icon-user"></i>Sign In</a>
                        </li>
                        <li *ngIf="isUserLogedin()" class="c-cart-toggler-wrapper">
                            <a href="javascript:;" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold c-cart-toggler"><p style="margin:0"><img *ngIf="profilePicture" style="height: 20px; margin-right: 10px;" [src]="profilePicture"/>{{shownLoginName}}</p></a>
                        </li>
                    </ul>
                </nav>
                <div class="c-brand c-pull-right">

                </div>
                <!-- BEGIN: CART MENU -->
                <div class="c-cart-menu">
                    <div class="c-cart-menu-title">
                        <p class="c-cart-menu-float-l c-font-sbold">{{shownLoginName}}</p>
                        <p class="c-cart-menu-float-r c-theme-font c-font-sbold">Welcome!</p>
                    </div>
                    <ul class="c-cart-menu-items" [attr.aria-label]="l('UserAccount')" role="menu">
                        <li class="c-cart-menu-close" role="none">
                            <a href="javascript:;" class="m-nav__link" (click)="changePassword()" role="menuitem" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                                <i class="fa fa-key"></i>
                                <span id="UserProfileChangePasswordLink" class="c-item-name c-font-sbold">
                                    {{l("ChangePassword")}}
                                </span>
                            </a>
                        </li>
                        <li class="c-cart-menu-close" role="none">
                            <a href="javascript:;" class="m-nav__link" (click)="showLoginAttempts()" role="menuitem" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                                <i class="fa fa-check-square"></i>
                                <span id="ShowLoginAttemptsLink" class="c-item-name c-font-sbold">
                                    {{l("LoginAttempts")}}
                                </span>
                            </a>
                        </li>
                        <li class="c-cart-menu-close" role="none">
                            <a href="javascript:;" class="m-nav__link" (click)="changeProfilePicture()" role="menuitem" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                                <i class="fa fa-user"></i>
                                <span id="UserProfileChangePictureLink" class="c-item-name c-font-sbold">
                                    {{l("ChangeProfilePicture")}}
                                </span>

                            </a>
                        </li>
                        <li class="c-cart-menu-close" role="none">
                            <a href="javascript:;" class="m-nav__link" (click)="changeMySettings()" role="menuitem" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                                <i class="fa fa-gear"></i>
                                <span id="UserProfileMySettingsLink" class="c-item-name c-font-sbold">
                                    {{l("MySettings")}}
                                </span>
                            </a>
                        </li>
                        <li class="c-cart-menu-close" role="none">
                            <a [routerLink]="['/app/author/mytopics']" class="m-nav__link" role="menuitem" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                                <i class="fa fa-file-text-o"></i>
                                <span id="MyTopicsLink" class="c-item-name c-font-sbold">
                                    我的文章
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="c-cart-menu-footer">
                        <a href="javascript:;" (click)="logout()" class="btn btn-md c-btn c-btn-square c-theme-btn c-font-white c-font-bold c-center c-font-uppercase">{{l("Logout")}}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: MEGA MENU --><!-- END: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
        <!-- END: HOR NAV -->
    </div>
</header>
<!-- END: HEADER --><!-- END: LAYOUT/HEADERS/HEADER-ONEPAGE -->
<loginAttemptsModal #loginAttemptsModal></loginAttemptsModal>
<changePasswordModal #changePasswordModal></changePasswordModal>
<changeProfilePictureModal #changeProfilePictureModal></changeProfilePictureModal>
<mySettingsModal #mySettingsModal (modalSave)="onMySettingsModalSaved()"></mySettingsModal>

<loginModal #loginModal></loginModal>
<registerModal #registerModal></registerModal>
<forgetModal #forgetModal></forgetModal>
