<!-- BEGIN: CONTENT/USER/FORGET-PASSWORD-FORM -->
<div bsModal #forgetModal="bs-modal" class="modal fade c-content-login-form" id="forget-password-form" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">{{l("ForgotPassword")}}</h3>
                <p>{{l("SendPasswordResetLink_Information")}}</p>
                <div class="c-content-tab-1 c-theme c-margin-t-30">
                    <div class="clearfix">
                        <ul class="nav nav-tabs c-font-sbold pull-right">
                            <li class="active"><a href="#tab_1_1_content" data-toggle="tab" class="c-border-red">邮箱找回</a></li>
                            <li><a href="#tab_1_2_content" data-toggle="tab" class="c-border-red">手机找回</a></li>
                        </ul>
                    </div>
                    <div class="tab-content c-bordered c-padding-lg">
                        <div class="tab-pane active" id="tab_1_1_content">
                            <form #forgotEmailForm="ngForm" method="post" novalidate (ngSubmit)="save()">
                                <div class="form-group">
                                    <label for="forget-email" class="hide">Email</label>
                                    <input id="forget-email" #emailAddressInput="ngModel" class="form-control" type="email" placeholder="{{l('EmailAddress')}} *" [(ngModel)]="model.emailAddress" name="EmailAddress" required maxlength="256" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"/>
                                    <validation-messages [formCtrl]="emailAddressInput" [errorDefs]="[{email: l('InvalidEmailAddress')}]"></validation-messages>
                                </div>
                                <div class="input-group">
                                    <label for="forget-email-code" class="hide">获取验证码</label>
                                    <input id="forget-email-code" #emailCodeInput="ngModel" class="form-control col-xs-6" type="text" placeholder="邮箱验证码 *" [(ngModel)]="model.emailAddressValidateCode" name="EmailAddressCode" required maxlength="6"/>
                                    <span class="input-group-btn">
                                        <button type="button" id="getCodeByEmail2" (click)="getCodeByEmail()" class="btn btn-sm c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">获取验证码</button>
                                    </span>
                                    <validation-messages [formCtrl]="emailCodeInput"></validation-messages>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login" [disabled]="!forgotEmailForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-check"></i>{{l("Submit")}}</button>
                                    <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">{{l("Back")}}</a>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab_1_2_content">
                            <form #forgotPhoneForm="ngForm" method="post" novalidate (ngSubmit)="save()">
                                <div class="form-group">
                                    <label for="forget-phone" class="hide">Phone</label>
                                    <input id="forget-phone" #PhoneNumberInput="ngModel" class="form-control" type="text" placeholder="{{l('PhoneNumber')}} *" [(ngModel)]="model.phoneNumber" name="PhoneNumber" maxlength="256"/>
                                    <validation-messages [formCtrl]="PhoneNumberInput"></validation-messages>
                                </div>
                                <div class="input-group">
                                    <label for="forget-phone-code" class="hide">获取验证码</label>
                                    <input id="forget-phone-code" #PhoneCodeInput="ngModel" class="form-control col-xs-6" type="text" placeholder="{{l('PhoneNumberCode')}} *" [(ngModel)]="model.phoneNumberValidateCode" name="PhoneCode" required maxlength="6"/>
                                    <span class="input-group-btn">
                                        <button type="button" id="getCodeByPhone2" (click)="getCodeByPhone()" class="btn btn-sm c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">获取验证码</button>
                                    </span>
                                    <validation-messages [formCtrl]="PhoneCodeInput"></validation-messages>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login" [disabled]="!forgotPhoneForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-check"></i>{{l("Submit")}}</button>
                                    <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">{{l("Back")}}</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer c-no-border">
                <span class="c-text-account">Don't Have An Account Yet ?</span>
                <a href="#" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
            </div>
        </div>
    </div>
</div><!-- END: CONTENT/USER/FORGET-PASSWORD-FORM -->
<resetModal #resetModal></resetModal>
